@font-face {
    font-family: Gotham-regular;
    src: url(/font/GothaProReg.otf);
}

@font-face {
    font-family: Gotham-medium;
    src: url(/font/GothaProMed.otf);
}

@font-face {
    font-family: Gotham-light;
    src: url(/font/GothaProLig.otf);
}

@font-face {
    font-family: Gotham-bold;
    src: url(/font/GothaProBol.otf);
}


body {
    background-color: #001C31;
    color: white;
}


.form-signin {
    width: 200px;
    border: 2px solid red;
}
.form-control {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.btn-tweet {
    background-color: #005796;
    border-radius: 20px;
    border: none;
    margin-top: 3%;
    color: white;
    height: 40px;
    text-align: center;
    width: 100px;
  

}

.textbox {
    background-color: #2FA8FD;
    border: none;
    border-radius: 7px;
    color: white;
    margin-top: 1%;
    height: 60%;
    width: 100%;

}

#charCountArea {
    position: relative;
    margin-top: -5%;
    margin-right: 5%;
}

.nav-link {
    font: 21px Gotham-bold;
    color: white;
}

textarea:focus {
    outline: none;
}

.btn-tweet:focus {
    outline: none;
}

#canvas {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
}